
body{
    margin: 0;
    background-color: #fffdf5;
    font-family: 'Roboto', sans-serif;
    /* Ini dibawah dipake buat bikin page nya itu dalem bentuk flex dan heightnya bisa tetep dibawah walaupun tengahnya kosong */
    /* Harusnya yang dibawah ini opsional banget yaa */
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/* HEADER STYLE*/
.navBar-container{
    background-color: #cb0913;
    padding: 1em;
}

.navBar-container .row{
    width: 90%;
}

.Centering{
    text-align: center;
}

/* CSS BOOTSTRAP FOR NAV-LINK
.nav-link {
    border-bottom: 3px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link:hover {
    transition: 0.4s ease-in;
    border-bottom: 3px solid white;
}
.nav-link active{
    border-bottom: 3px solid white;
} */

.navBar-container .pJudul{
    display: none;
    color: white;
    font-family: 'Calistoga', serif;
    font-size: 22px;
    text-shadow: 2px 2px #000000;
}

.navBar-container .pJudul span{
    color: #fcbf0a;
}


.klinik-title{
    color: white;
    font-family: 'Calistoga', serif;
    font-size: 24px;
    text-shadow: 2px 2px #000000;
}
.klinik-title span{
    color: #fcbf0a;
}

.calistoga{
    font-family: 'Calistoga', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.nav-list a {
    color: white;
    text-decoration:none;
}

.nav-list{
    padding: 1em;
}

.nav-lists{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.navLinks{
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5em;
    margin: 0 0.4em 0 0.4em;
}

.navLinks:hover {
    transition: 0.4s ease-in;
    border-bottom: 3px solid white;
}
.navLinks.active{
    border-bottom: 3px solid white;
}

.tombol-menu {
    display: none;
    float: right;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    text-decoration: none;
}

.tombol-menu i {
    font-size: 24px;
    color: #fff;
}

.navBar-container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navBar-container nav ul li {
    float: left;
    border-bottom: none;
}

.navBar-container nav ul li a {
    width: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
}

.navBar-container nav ul li a:hover {
    border: transparent;
    background-color: rgb(128, 128, 128, 0.3);
}

#btnLogin:hover{
    transition: 0.4s ease-in-out;
    color: red;
}

.btnLink{
    padding: 0.5em 0.8em;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    text-decoration:none;
}

.btnLink:hover{
    transition: 0.4s ease-in-out;
    background-color: #fff;
    color: red;
}


.linkLabel {
   text-decoration: none;
   color: #fff;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   margin-top: 10px;
}

.imgLogo{
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imgLogo:hover{
    opacity: 0.8;
    border: 2px solid pink;
    
}

/* ------------------------------------------------------------------------------------- */

/* CSS buat Login dan Registration Page */
.container-registration{
    background-image: url("/gambar/Pet.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container-adminLogin{
    background-image: url("/gambar/Pett.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trans-container{
    width: 70%;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.header-container{
    padding-top: 1.7em;
    font-family: 'Calistoga', serif;
    font-size: 24px;
    display: flex;
    gap: 10px;
}

.header-container img{
    transform: translateY(-10%);
}

.header-container span{
    color: #cb0913;
}

.trans-container2{
    width: 50%;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.trans-container3{
    width: 45%;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.trans-container4{
    width: 30%;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.body-container{
    width: 60%;
    margin: auto;
}

.form-control, .form-select{
    background-color: #fefefe;
}

.logregLink {
    color: #4c67f0;
    text-decoration: none;
    margin: auto;
    text-align: center;
}


.logregLinkPass{
    color: #f04c4c;
    text-decoration: none;
    margin-left: auto;
    
}

/* ------------------------------------------------------------------------------------- */

/* CSS buat profile setting page */
.custom-container{
    width: 95%;
    margin: auto;
}

.dashboard-menu {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.dashboard-menu li {
    margin-bottom: 10px;
}

.dashboard-menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000; /* warna teks link */
    transition: all 0.3s ease; /* animasi transisi */
    display: block;
    padding: 10px 0;
    position: relative;
    max-width: fit-content;
}

.dashboard-menu a::before {
    content: '\00BB'; /* simbol chevron */
    margin-right: 5px; /* jarak antara simbol chevron dan teks */
}


.dashboard-menu a:hover{
    color: #ff0000; /* warna teks link ketika di-hover */
    margin-left: 10px; /* perubahan margin kiri ketika di-hover */
}

.dashboard-menu a.active{
    color: #fcbf0a; /* warna teks link ketika di-hover */
    margin-left: 10px; /* perubahan margin kiri ketika di-hover */
}


.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* ------------------------------------------------------------------------------------- */

/* CSS buat footer dari page-page utama */
footer {
    background-color: #cb0913; /* #333 warna ini bagus juga */ 
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    color: #fff;
    padding: 3.5em;
    margin-top: auto; /* Push the footer to the bottom (OPSIONAL)*/  
    gap: 1.2em;
    
}

.footer-section {
    text-align: justify;
}

/* Set different widths for each section */
.footer-section:nth-child(1) {
    flex: 20%;
}
.footer-section:nth-child(2){
    flex: 20%;
}
.footer-section:nth-child(3) {
    flex: 10%;

}
.footer-section:nth-child(4) {
    flex: 10%;
}

.footer-section a{
    color: white;
    text-decoration:none;
}

.footer-section span{
    color: black;
}

.icon-link {
    display: flex;
    align-items: center; /* Buat Vertical alignment di flex */
    justify-content: center;    /* Buat Horizontal alignment di flex*/
    background-color: #ffffff;
    color: #fff;
    border-radius: 50%;
    width: 40px; /* Adjust ini buat nyesuain lebar background link */
    height: 40px; /* Adjust ini buat nyesuain tinggi background link */
    transition: 0.3s ease;
    margin: 0.5em 1em 0.7em 0;
}

.icon-link:hover {
    opacity: 0.8;
}

.icon {
    width: 30px; /* Adjust ini buat nyesuain lebar icon */
    height: 30px; /* Adjust ini buat nyesuain tinggi icon */
}

/* CSS BUAT CONTENT HOME PAGE */
.main-container{
    padding-bottom: 5em;
}

.backgroundForm{
    padding: 0em 10em 4em 10em;
}

.homeTitle{
    font-family: 'Salsa';
    text-align: center;
}



@media (min-width: 768px) {
    footer {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1;
        margin: 0 10px;
    }
}


/* ------------------------------------------------------------------------------------- */

/* CSS BUAT LAYANAN PAGE */
.pets-image-container{
    width: 100%;
    height: auto;
    max-height: 450px; /* Anda bisa menyesuaikan nilai max-height sesuai kebutuhan */
    object-fit: fill; /* Untuk memastikan gambar terisi penuh pada container */
    border-radius: 8px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/gambar/Paws.png');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling tambahan buat konten yang ada di dalem image-container */
.image-container h1 {
    font-size: 2em;
    margin: 0;
    color: white; /* Set text color */
    z-index: 2; /* Place the h1 in front of the background */
    text-shadow: 2px 2px #ff0000;
}

/* Styling buat ngatur opacity dari warna pilihan bg image*/
.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 25, 0, 0.7);
    z-index: 1; /* Place the background behind the h1 */
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 150px; 
    background-image: url('/gambar/Paws.png');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling tambahan buat konten yang ada di dalam image-container */
.imageContainer h1 {
    font-size: 2.5em;
    margin: 20px; 
    color: white; 
    z-index: 2; 
    text-shadow: 2px 2px #ff0000;
}

/* Styling buat ngatur opacity dari warna pilihan bg image*/
.imageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 25, 0, 0.7);
    z-index: 1; 
}


.body-image{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/gambar/Paws.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 25, 0, 0.7);
    z-index: -1; /* Place the background behind the h1 */
}

.justify {
    text-align: justify;
}

.round {
    border-radius: 10%;
}

.simple-container{
    background-color: white;
    border-radius: 10px;
    text-shadow: 2px 2px #000000;
}


/* CSS buat reservasi layanan medis */
.linky {
    text-decoration: none;
    color: black;
    padding-bottom: 0.5em;
}

.linky:hover {
    color: red;
    border-bottom: 3px solid red;
    transition: 0.2s ease-in-out;
}

.activated {
    color: red;
    border-bottom: 3px solid red;
}

.custom-radio {
    font-family: sans-serif;
    font-size: 1em; /* Adjust the size as needed */
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
}

.custom-radio li {
    display: inline-block;
}

.custom-radio label {
    padding: 0.5em;
    color: #000;
    border: solid 2px #ccc;
    border-radius: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border-color: #dd0a0a;
    color: #dd0a0a;
}

.flex-container {
    display: flex;
    margin: -5px; /* Adjust the margin to your liking */
}

/* CSS buat halaman pembayaran transaksi */
.pembayaranContainer{
    width: 70%;
}

#timer {
    margin: auto;
    width: fit-content;
    font-size: 1.5em;
    font-weight: 100;
    color: white;
    color: white;

}

#timer div {
    display: inline-block;
    min-width: 60px;
    padding: 12px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 10px;
}

#timer div span {
    color: #ffffff;
    display: block;
    margin-top: 10px;
    font-size: .5em;
    font-weight: 400;
}

.hr-theme-slash-2 {
    display: flex;
    
    .hr-line {
      width: 100%;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #000;
    }
    .hr-icon {
      position: relative;
      top: 3px;
      margin-left: 15px;
      margin-right: 15px;
      color: #ff0000;
    }
  }

.shadowBox{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fffdf5;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.catatan {
    line-height: 1.5; /* Adjust this value based on your preference */
    text-align: justify;
}

.card-img {
    object-fit: cover;
    height: 400px; /* Set the desired height for all images */
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 90vh;
    background: url("/gambar/Pet Illustras.png") top center;
    background-size: cover;
    margin-bottom: -200px;
}
  
#hero .container {
    position: relative;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
}

#hero h2 {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
}

#hero .btn-get-started:hover {
    background: #3291e6;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
    padding: 30px;
    background: #cc1919;
    border-radius: 4px;
    color: #fff;
}

.why-us .bg-op{
    background-color: rgb(199, 23, 23, 0.8);
    border-radius: 100px;
}
  
.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.why-us h6{
    color: #ffc445;
}
  
.why-us .content p {
    margin-bottom: 30px;
}

.why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
    font-size: 14px;
}

.why-us .content .more-btn:hover {
    color: #cc1919;
    background: #fff;
}

.why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}

.why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #cc1919;
    margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.why-us .icon-box {
    transition: transform 0.3s ease-in-out;
}

.why-us .icon-box:hover {
    transform: scale(1.1); 
}

.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

.more-btn{
    text-decoration: none;
}

.more-top{
    margin-top: 100px;
}


/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
.welcome{
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome img{
    max-height: 530px;
    height: 530px;
    max-width: 450px;
    border-radius: 10px;    
}

.welcome h6{
    color: #f5b220;
}

.welcome h1{
    color: #ed1e1e;
    padding-top: 20px;
    padding-bottom: 10px;
}

.welcome p{
    padding-top: 5px;
    padding-bottom: 5px;
}

.welcome a:hover{
    border-color: #f5b220;
    background-color: #f5b220;
}

.shadows{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 12px;
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.our-team{
    width: 100%;
    height: 90vh;
    background: url('/gambar/Paws.png') top center;
    background-size: fill;
    margin-bottom: -200px;
    position: relative;
    background-attachment: fixed;
}

.our-team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 25, 0, 0.8);
    z-index: 0; /* Set z-index to 0 or a negative value */
}

.team {
    position: relative; /* Create a stacking context for the .team element */
    z-index: 1; /* Set a higher z-index than the ::before pseudo-element */
}

.our-team h6{
    text-align: center;
    color: #f5b220;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

.our-team h2{
    text-align: center;
    color: #fff;
    padding-top: 1.2em;
    padding-bottom: 0.2em;
}

.our-team .card{
    background-color: transparent;
    border-color: transparent;
}

#teamCarousel .carousel-control-prev,
#teamCarousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    width: 50px;
    border-radius: 100px;
    border: none; 
    padding: 0;
}

#teamCarousel .carousel-control-prev {
    margin-left: 250px;
    background-color: white;
}

#teamCarousel .carousel-control-next { 
    margin-right: 250px;
    background-color: white;
}

#teamCarousel .carousel-control-prev-icon,
#teamCarousel .carousel-control-next-icon {
    filter: invert(1); 
}

/*--------------------------------------------------------------
# About Klinik
--------------------------------------------------------------*/
.pad-50{
    padding-top: 50px;
}

.heart{
    margin-top: 40px;
    height: 550px;
    mask:
    radial-gradient(at 70% 31%,#000 29%,#0000 30%),
    radial-gradient(at 30% 31%,#000 29%,#0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.about-klinik h6{
    color: #f5b220;
    padding-top: 1em;
}

.about-klinik h6{
    color: #f5b220;
    padding-top: 1em;
}

/*--------------------------------------------------------------
# Achieve
--------------------------------------------------------------*/

.achieve{
    width: 100%;
    height: 80vh;
    background: url('/gambar/Paws.png') top center;
    background-size: fill;
    margin-bottom: -200px;
    position: relative;
    background-attachment: fixed;
}

.achieve::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 25, 0, 0.8);
    /* filter: grayscale(100%); */
    z-index: 0; 
}

.achieve-content {
    position: relative; 
    z-index: 1;
}

.achieve-content h2{
    text-align: center;
    color: #fff;
    padding-bottom: 1em;
}
.achieve-content h5{
    text-align: center;
    color: #f5b220;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
}

.achieve .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}
.achieve .icon-boxes .icon-box i {
    font-size: 40px;
    color: #fff;
    
}

.achieve .icon-boxes .icon-box h1 {
    font-weight: 700;
    color: #cc1919;
    font-size: 50px;
    margin-bottom: 10px;
}

.achieve .icon-boxes .icon-box h5 {
    font-weight: 500;
    color: gray;
}

.achieve .icon-box {
    transition: transform 0.3s ease-in-out;
}

.achieve .icon-box:hover {
    transform: scale(1.1); 
}

.square-shape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color:  #cc1919;
    border-radius: 10px;
    margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .icon-box {
    text-align: center;
    transition: all ease-in-out 0.3s;
}

.icon-box-img {
    width: 420px;
    max-height: 350px;
    height: 350px;
    object-fit: cover; /* or object-fit: contain; depending on your preference */
    cursor: pointer;
}

.icon-box video {
    width: 420px;
    max-height: 350px;
    height: 350px;
    object-fit: cover;
}
  
.gallery .icon-box:hover .icon::before {
    background: rgba(255, 255, 255, 0.3);
}



/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #cc1919;
}
  
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
  
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #cc1919;
    bottom: 0;
    left: calc(50% - 20px);
}
  
.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# RESPONSIVENESS DARI DESKTOP KE MOBILE
--------------------------------------------------------------*/
@media (min-width: 768px) {
    .navBar-container nav {
        display: none;
    }
}

@media (max-width: 1400px) {


    /* HOME PAGE */
    #teamCarousel .carousel-control-prev {
        margin-left: 150px; 
    }
    
    #teamCarousel .carousel-control-next {
        margin-right: 150px;
    }

    /* LAYANAN PAGE */
    .layanan img{
        height: 400px;
        max-width: 420px;
    }

    .layanan h1{
        font-size: 30px;
    }

    .layanan p{
        font-size: 16px;
    }

    .layanan a{
       text-align: center;
    }

    .imageContainer {
        height: 120px; 
    }
    
    .imageContainer h1 {
        font-size: 2.4em;
    }
    
    /* TENTANG PAGE */
    .about-klinik img{
        width: 400px;
        height: 420px;
    }

    .achieve{
        height: 80vh;
    }

    .achieve .icon-boxes .icon-box h1 {
        font-size: 36px;
    }
    
    .achieve .icon-boxes .icon-box h5 {
        font-size: 20px;
    }

    .icon-box-img {
        width: 300px;
        max-height: 350px;
        height: 300px;
    }

    .icon-box video {
        width: 300px;
        max-height: 350px;
        height: 300px;
    }


    /* LOGIN AND REGISTER PAGE */
    .trans-container2{
        width: 60%;
    }

    .trans-container3 {
        width: 60%;
    }

    .body-container {
        width: 60%;
    }
}

@media (max-width: 992px) {

    /* NAVBAR PAGE */
    .klinik-title {
        display: none;
    }

    .logo a {
        display: inline;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul li {
        width:100%;
        border-bottom:1px solid #333333;
    }

    /* HOME PAGE */
    .welcome img{
        height: 440px;
        max-width: 380px;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    #teamCarousel .carousel-control-prev {
        margin-left: 30px; 
    }
    
    #teamCarousel .carousel-control-next {
        margin-right: 30px;
    }

    /* LAYANAN PAGE */
    .layanan img{
        margin-bottom: 2em;
    }

    .layanan h1{
        font-size: 28px;
        text-align: center;
    }

    .layanan p{
        font-size: 16px;
    }

    .layanan a{
       text-align: center;
    }

    .imageContainer {
        height: 120px; 
    }
    
    .imageContainer h1 {
        font-size: 2.2em;
    } 

    /* TENTANG PAGE */
    .about-klinik img{
        width: 300px;
        height: 320px;
    }

    .pad-50{
        padding-top: 0px;
    }


    .achieve .icon-boxes .icon-box h1 {
        font-size: 34px;
    }
    
    .achieve .icon-boxes .icon-box h5 {
        font-size: 18px;
    }

    .icon-box-img {
        width: 340px;
        max-height: 350px;
        height: 300px;
    }

    .icon-box video {
        width: 340px;
        max-height: 350px;
        height: 300px;
    }

    /* RESERVASI LAYANAN PAGE */
    .Centering{
        text-align: center;
    }


    /* LOGIN AND REGISTER PAGE */
    .trans-container{
        width: 70%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .trans-container2{
        width: 70%;
    }

    .trans-container3 {
        width: 80%;
    }

    .body-container {
        width: 60%;
    }
}


@media (max-width: 768px) {

    /* NAVBAR PAGE */
    .navBar-container .pJudul{
        display: block;
        font-size: 24px;
    }

    .navBar-container .row{
        width: 100%;
    }

    .navBar-container .col-8 .nav{
        display: none;
    }

    .navBar-container .col-2 .nav{
        display: none;
    }

    .btnLink{
        display: none;
    }

    .klinik-title {
        display: none;
    }

    .tombol-menu {
        display: flex;
    }

    .navBar-container nav .menu {
        width: 100%;
        margin: 0;
    }

    .navBar-container nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    .navBar-container nav .menu ul li {
        display: inline-block;
        float: none;
    }
    

    /* HOME PAGE */
    .welcome img{
        height: 440px;
        max-width: 380px;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    #teamCarousel .carousel-control-prev {
        margin-left: 0px; 
    }
    
    #teamCarousel .carousel-control-next {
        margin-right: 0px; 
    }

    /* LAYANAN PAGE */
    .layanan img{
        height: 320px;
        max-width: 360px;
        margin-bottom: 2em;
    }

    .layanan h1{
        font-size: 26px;
        text-align: center;
    }

    .layanan p{
        font-size: 16px;
    }

    .layanan a{
       text-align: center;
    }

    .imageContainer {
        height: 100px; 
    }
    
    .imageContainer h1 {
        font-size: 2em;
    }   

     /* TENTANG PAGE */
    .about-klinik img{
        width: 200px;
        height: 220px;
    }

    .pad-50{
        padding-top: 0px;
    }

    .achieve{
        height: 170vh;
    }

    .achieve .icon-boxes .icon-box h1 {
        font-size: 36px;
    }
    
    .achieve .icon-boxes .icon-box h5 {
        font-size: 20px;
    }

    .icon-box-img {
        width: 420px;
        max-height: 350px;
        height: 350px;
    }

    .icon-box video {
        width: 420px;
        max-height: 350px;
        height: 350px;
    }

    /* RESERVASI LAYANAN PAGE */
    .Centering{
        text-align: center;
    }

    .marginHAH a{
        margin-top: 30px;
    }

    /* HUBUNGI KAMI PAGE */
    .backgroundForm iframe{
        margin-bottom: 40px;
    }

    /* MyTransaksi PAGE */
    .btnHUHA{
        margin-top: 20px;
    }


    /* LOGIN AND REGISTER PAGE */
    .trans-container{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .trans-container2{
        width: 80%;
    }

    .trans-container3 {
        width: 90%;
    }

    .body-container {
        width: 75%;
    }

    /* FOOTER */
    .footer-section {
        margin-bottom: 30px;
    }
}



@media (max-width: 576px) {

    .navBar-container .pJudul{
        display: block;
    }

    .navBar-container .row{
        width: 100%;
    }

    .navBar-container .col-8 .nav{
        display: none;
    }

    .navBar-container .col-2 .nav{
        display: none;
    }


    /* HOME PAGE */
    .welcome img{
        height: 400px;
        max-width: 380px;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    #teamCarousel .carousel-control-prev {
        margin-left: 60px; 
    }
    
    #teamCarousel .carousel-control-next {
        margin-right: 60px; 
    }

    /* LAYANAN PAGE */
    .layanan img{
        height: 300px;
        max-width: 320px;
        margin-bottom: 2em;
    }

    .layanan h1{
        font-size: 22px;
        text-align: center;
    }

    .layanan p{
        font-size: 14px;
    }

    .layanan a{
       text-align: center;
    }

    .imageContainer {
        height: 80px; 
    }
    
    .imageContainer h1 {
        font-size: 1.8em;
    }

     /* TENTANG PAGE */
    .about-klinik img{
        width: 200px;
        height: 220px;
    }

    .pad-50{
        padding-top: 0px;
    }

    .achieve{
        height: 170vh;
    }

    .achieve .icon-boxes .icon-box h1 {
        font-size: 36px;
    }
    
    .achieve .icon-boxes .icon-box h5 {
        font-size: 20px;
    }

    .icon-box-img {
        width: 420px;
        max-height: 350px;
        height: 350px;
    }

    .icon-box video {
        width: 420px;
        max-height: 350px;
        height: 350px;
    }

    /* RESERVASI LAYANAN PAGE */
    .Centering{
        text-align: center;
    }

    .marginHAH a{
        margin-top: 30px;
    }

    /* HUBUNGI KAMI PAGE */
    .backgroundForm iframe{
        margin-bottom: 40px;
    }

    /* MyTransaksi PAGE */
    .btnHUHA{
        margin-top: 20px;
    }

    /* MyTransaksi Detail Bayar PAGE */
    .gambarBukti img{
        width: 350px;
        height: 350px;
    }

    /* LOGIN AND REGISTER PAGE */
    .trans-container{
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .trans-container2{
        width: 90%;
    }

    .trans-container3 {
        width: 90%;
    }

    .body-container {
        width: 90%;
    }

    /* FOOTER */
    .footer-section {
        margin-bottom: 30px;
    }
}


/* RESPONSIVE STYLES */
@media (max-width: 768px) {
    .col-1 {
        margin-left: 0;
        margin-right: 0;
    }

    .col-2,
    .col-7 a {
        font-size: 16px;
    }

    .backgroundForm {
        padding: 0em 2em 4em 2em;
    }

}



